@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-navigation {
  display: flex;
}

.header-logo {
  width: 140px;
  margin: 0 45px 0 70px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.visually-hidden {
  display: none;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  border: none;
  background-color: transparent;
  padding: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  padding: 0;
}

.brown-button {
  background-color: #756157;
}

main {
  flex-grow: 1;
}

.hero {
  text-align: center;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-color: #719fad;
  background-size: cover;
}

.slogan {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.features-list, .advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item, .advantages-item {
  text-align: center;
  width: 400px;
}

.features-item:nth-child(2n), .advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-list .features-with-img {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
  display: flex;
}

.features-item-title, .advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search {
  text-align: center;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
}

.mailing {
  text-align: center;
}

.mailing-index {
  color: #ffffff;
  background-image: url(../images/index-mailing-background.jpg);
  background-repeat: no-repeat;
  background-color: #719fad;
  background-size: cover;
}

.mailing-form input {
  font-size: 18px;
  line-height: 24px;
}

.mailing-form .button {
  font-size: 20px;
  line-height: 36px;
}

.contact {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-list {
  list-style: none;
  width: 200px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.html-academy-link {
  width: 150px;
}

.inner-header {
  background-image: url(../images/catalog-inner-header-background.jpg);
  background-repeat: no-repeat;
  background-color: #719fad;
  background-size: cover;
  color: #ffffff;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header h1 {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.hotels-filter-left {
  width: 151px;
}

.hotels-filter-left:nth-child(2) {
  margin-right: 140px;
}

.hotels-filter-right {
  width: 290px;
}

.hotels-filter-buttons {
  width: 191px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-filter-group legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.hotels-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 23px;
}

.inner-header .button[type=reset] {
  background-color: transparent;
}

.hotels-user-buttons {
  display: flex;
}

.hotels {
  width: 1060px;
  margin: 0 auto;
}

.filter-result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 340px;
  margin-right: 200px;
}

.sorting {
  width: 292px;
}

.card-view-buttons {
  list-style: none;
  margin-left: auto;
}

.hotels-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 340px;
  gap: 20px;
}

.hotels-item h3 {
  font-size: 24px;
  line-height: 28px;
}

.button-favourites.active {
  background-color: #7DB54F;
}

.rating {
  background-color: #F2F2F2;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
}
