@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-navigation {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 70px;
  display: flex;
}

.header-logo {
  width: 140px;
  margin: 0 45px 0 0;
  display: block;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  cursor: pointer;
  min-width: 40px;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-user {
  max-width: 400px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-search {
  border: none;
  background-color: transparent;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  border-radius: 4px;
}

.button:hover, .button:focus {
  background-color: #68A2CA;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.brown-button {
  background-color: #756157;
}

.brown-button:hover, .brown-button:focus {
  background-color: #615048;
}

.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-want {
  padding: 8px 34px;
}

main {
  flex-grow: 1;
}

.hero {
  text-align: center;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-color: #719fad;
  background-size: cover;
  padding: 51px 0 82px;
}

.slogan {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
}

.features .slogan {
  width: 651px;
  padding: 69px 0 90px;
}

.features .slogan .section-title {
  margin-bottom: 25px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.features-list, .advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item, .advantages-item {
  text-align: center;
  width: 400px;
}

.features-item:nth-child(2n), .advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-list .features-with-img {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
  display: flex;
  align-items: center;
}

.features-item {
  padding: 112px 85px;
}

.features-with-img .features-item {
  padding: 102px 85px;
}

.features-item-title, .advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
}

.features-item-title {
  margin-bottom: 62px;
  position: relative;
}

.features-item-title::before {
  content: "";
  position: absolute;
  top: 86px;
  left: 57px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.features-with-img .features-item-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.features-item-desc, .advantages-item-desc {
  width: 230px;
  margin: 0 auto;
}

.advantages .slogan {
  width: 505px;
  padding: 64px 0;
}

.advantages-item {
  padding: 183px 85px 81px;
  position: relative;
}

.advantages-item-title {
  margin-bottom: 30px;
}

.advantages-item:first-child {
  background-image: url(../images/advantages/advantages-img-1.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-item:nth-child(2) {
  background-image: url(../images/advantages/advantages-img-2.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-item:last-child {
  background-image: url(../images/advantages/advantages-img-3.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.search {
  text-align: center;
  padding: 96px 0;
}

.search .slogan {
  width: 592px;
  padding-bottom: 54px;
}

.search .button {
  font-size: 20px;
  line-height: 36px;
}

.mailing {
  text-align: center;
  padding: 96px 0 104px;
}

.mailing .slogan {
  width: 475px;
  padding-bottom: 54px;
}

.mailing-index {
  color: #ffffff;
  background-image: url(../images/index-mailing-background.jpg);
  background-repeat: no-repeat;
  background-color: #719fad;
  background-size: cover;
}

.mailing-form {
  display: flex;
  justify-content: center;
}

.mailing-form input {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
}

.mailing-form .button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.contact {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-link {
  display: flex;
  padding: 10px;
  align-items: center;
}

.social-link:hover path, .social-link:focus path {
  fill: #68A2CA;
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.phone-number:hover, .phone-number:focus {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  width: 150px;
  display: flex;
  align-items: center;
}

.html-academy-link:hover path, .html-academy-link:focus path {
  fill: #756157;
}

.html-academy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  background-image: url(../images/catalog-inner-header-background.jpg);
  background-repeat: no-repeat;
  background-color: #719fad;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  display: block;
}

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}

.hotels-filter-left {
  width: 151px;
}

.hotels-filter-left:nth-child(2) {
  margin-right: 140px;
}

.hotels-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 23px;
}

.hotels-filter-item {
  margin-bottom: 19px;
}

.hotels-filter-item:last-child {
  margin-bottom: 0;
}

.hotels-filter-group legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.hotels-filter-right {
  width: 290px;
}

.hotels-filter-price-input {
  display: flex;
  justify-content: space-between;
}

.hotels-filter-price-input input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
  width: 143px;
}

.hotels-filter-buttons {
  width: 191px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.inner-header .button[type=reset] {
  background-color: transparent;
  margin-top: 32px;
}

.hotels-user-buttons {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.hotels {
  width: 1060px;
  margin: 0 auto;
}

.filter-result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 340px;
  margin-right: 200px;
}

.sorting {
  width: 292px;
}

.card-view-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
}

.card-view-buttons li {
  margin-right: 8px;
}

.card-view-buttons li:last-child {
  margin-right: 0;
}

.view-button {
  padding: 16px;
  background-color: #ffffff;
}

.hotels-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.hotels-item {
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px auto min-content min-content min-content;
  gap: 16px 20px;
}

.hotels-photo {
  display: block;
  grid-column: 1 / -1;
  width: 300px;
  object-fit: contain;
}

.hotels-item h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column: 1 / -1;
}

.hotel-price {
  justify-self: end;
}

.hotels-item .button {
  width: 140px;
  padding: 8px 0;
}

.button-more {
  text-align: center;
}

.button-favourites.active {
  background-color: #7DB54F;
}

.rating {
  background-color: #F2F2F2;
  width: 140px;
  text-align: center;
  padding: 8px 0;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item .button, .pagination-ellipsis {
  line-height: 36px;
  min-width: 60px;
  padding: 12px;
  text-align: center;
}
